# Python
__pycache__

# IDE - Visual Studio Code
.vscode/

# Firebase
.firebase/
firebase-debug.log

# Environment
*.env

# OS - macOS
.DS_Store

# Node.js
node_modules/
build/

# IceAnalytics
model/test/*