.player {
    color: white;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  a
    h1 {
      margin-bottom: 10px;
    }
  
    p {
      margin: 5px 0;
      strong {
        color: #daa520;
      }
    }
  }